[Desktop Entry]
Encoding=UTF-8
Name=Link to Box for Robox cleaning tools by Mape - Thingiverse
Type=Link
URL=http://www.thingiverse.com/thing:536487
Icon=text-html
